# Ignore virtual environment
venv/
.env/

# Streamlit secrets
.streamlit/secrets.toml

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor configurations
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.DS_Store

# Ignore images
*.jpg
*.png

# Ignore other OS-specific files
Thumbs.db
.DS_Store
